html {
    background-color: rgb(122, 255, 131);
    font-family: "apotek", sans-serif;
}

.site-header {
    background-color: rgb(0, 52, 3);
    color: rgb(0, 255, 47);
    font-family: "apotek", sans-serif;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    line-height: 100px;
    font-weight: 100px;
    text-align: center;
}

.callout {
    color: rgb(123, 18, 0);
    font-family: "apotek", sans-serif;
}

.address {
    text-align: right;
}